<template>
  <app-header></app-header>
  <div class="container">
    <router-view v-slot="slotProps">
      <transition name="route" mode="out-in">
        <component :is="slotProps.Component"></component>
      </transition>
    </router-view>
  </div>
  <app-footer></app-footer>
</template>

<script setup lang="ts">
import AppHeader from "@/components/layouts/App-header.vue";
import AppFooter from "@/components/layouts/App-footer.vue";

import { usePiniaLocalStorage } from './composables'

usePiniaLocalStorage('app-state')
</script>

<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 2400px;
  padding: 0 4rem;;
  height: var(--fullscreen-height);
}
</style>