<script setup lang="ts">
import router from "@/router";
import { storeToRefs } from 'pinia'
import { useUserStore } from "@/store/user-store";

const userStore = useUserStore();
const { isLoggedIn } = storeToRefs(userStore)
const { getFirstName } = storeToRefs(userStore)

const logout = (): void => {
  userStore.logout().then(() => router.push("/login"));
}
</script>

<template>
  <header class="header">
    <div class="header-logo">
      <p v-if="!isLoggedIn" class="logo-text">Insurance for the modern world</p>
      <img v-if="isLoggedIn" class="logo-icon" alt="logo"
           src="../../assets/img/logo.png"/>
    </div>
    <nav class="header-nav">
      <div>
        <ul v-if="isLoggedIn">
          <li>
            <router-link to="/profile">Profile</router-link>
          </li>
          <li>
            <router-link to="/my-insurance">My Insurance</router-link>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li v-if="isLoggedIn">
            <div class="user">
              <img class="user-icon" src="../../assets/img/user-logo.png" alt="user">
              <p>Welcome, {{ getFirstName || "user" }}</p>
            </div>
          </li>
          <li>
            <img v-if="isLoggedIn" class="logout-img" v-on:click="logout" alt="logout"
                 src="../../assets/img/logout.png">
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<style scoped>
header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--blue-soft);

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, sans-serif;
  padding: 0 4rem;
}

.header-logo {
  align-self: center;
}

.logo-text {
  font-family: 'Caveat', cursive;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.logo-icon {
  width: 3.6rem;
  margin-right: 6rem;
}

.header-nav a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

a:active {
  color: var(--blue-light)
}

a:hover {
  border-bottom: 2px solid var(--blue-light);
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 0 0.8rem;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.user-icon {
  width: 3.2rem;
  margin-right: 1.5rem;
}

.user:after {
  content: "";
  position: absolute;
  top: 0;
  left: 105%;
  width: 0.1rem;
  height: 3rem;
  background-color: var(--black);
}

.logout-img {
  width: 2.6rem;
  cursor: pointer;
}
</style>