<template>
<footer>
    <p class="footer-info">{{phoneNumber}}</p>
    <p class="footer-info">{{email}}</p>
</footer>
</template>

<script lang="ts">
export default {
  data() {
    return {
      phoneNumber: "+(123)456-789-123",
      email: "email@email.com"
    };
  }
}
</script>

<style scoped>
  footer {
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blue-soft);
    padding: 0 4rem;
  }

  .footer-info {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 0.6rem;
    letter-spacing: 0.1em;
    margin-left: 2rem;
  }
</style>