<template>
  <div class="wrapper">
    <div>
      <p>personal information</p>

      <form class="personal-form">

        <div class="form-field">
          <label for='firstName'>First name</label>
          <input class="form-control" type='text' id='firstName' v-model.trim="form.firstName" required>
        </div>

        <div class="form-field">
          <label for='lastName'>Last name</label>
          <input class="form-control" type='text' id='lastName' v-model.trim="form.lastName" required>
        </div>

        <div class="form-field">
          <label for='age'>Age</label>
          <input class="form-control" type='number' id='age' v-model.number="form.age" min="0" required>
        </div>

        <div class="form-field">
          <label>Gender</label>

          <div class="form-gender">
            <div class="form-field">
              <input type='radio' id='male' value="male" v-model.trim="form.gender">
              <label for='male'>Male</label>
            </div>
            <div class="form-field">
              <input type='radio' id='female' value="female" v-model.trim="form.gender">
              <label for='female'>Female</label>
            </div>
          </div>
        </div>

        <div class="form-field">
          <label for='phone'>Phone</label>
          <input class="form-control" type='text' id='phone' v-model.trim="form.phone" required>
        </div>

        <div class="form-address">
          <div class="form-field">
            <label for='country'>Country</label>
            <input class="form-control" type='text' id='country' v-model.trim="form.address.country">
          </div>

          <div class="form-field">
            <label for='state'>State</label>
            <input class="form-control" type='text' id='state' v-model.trim="form.address.state">
          </div>

          <div class="form-field">
            <label for='city'>City</label>
            <input class="form-control" type='text' id='city' v-model.trim="form.address.city">
          </div>

          <div class="form-field">
            <label for='street'>Street</label>
            <input class="form-control" type='text' id='street' v-model.trim="form.address.street">
          </div>

          <div class="form-field">
            <label for='homeNum'>Home number</label>
            <input class="form-control" type='text' id='homeNum' v-model.trim="form.address.homeNum">
          </div>

          <div class="form-field">
            <label for='postcode'>Postcode</label>
            <input class="form-control" type='text' id='postcode' v-model.trim="form.address.postcode">
          </div>
        </div>
      </form>
      <div class="buttons">
        <button type="button" class="button-blue">change</button>
        <button type="button" class="button-white" v-on:click="onSubmit">save</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      form: {
        firstName: "",
        lastName: "",
        age: null,
        gender: "male",
        phone: '',
        address: {
          country: '',
          state: '',
          city: '',
          street: '',
          homeNum: '',
          postcode: ''
        }
      },
    }
  },
  methods: {
    onSubmit() {
      console.log(this.form)
    }
  }
}

</script>

<style scoped>

.wrapper {
  background-color: var(--blue-soft);
  border-radius: var(--border-radius);
  padding: 2rem;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.personal-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 3.2rem 20rem 0;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field label {
  margin-right: 1rem;
}

.form-gender {
  width: 20rem;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.form-control {
  width: 20rem;
  height: 1.8rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
</style>