<script setup lang="ts">

import {ref, watch} from "vue";
import router from "@/router";
import {storeToRefs} from 'pinia';
import {useUserStore} from "@/store/user-store";

const userStore = useUserStore();
const {isLoggedIn} = storeToRefs(userStore);

const email = ref("");
const password = ref("");

const {getErrMsg} = storeToRefs(userStore);

const login = async (): Promise<void> => {

  await userStore.login(email.value, password.value);

  if (isLoggedIn.value) {
    await router.push("/home");
  }
}

watch([email, password], (): void => {
  userStore.setErrorMessage("");
})
</script>

<template>
  <div class="login-form">
    <div class="form-header">
      <img src="../../assets/img/logo.png" alt="logo">
      <p>Insurance</p>
    </div>
    <form v-on:submit.prevent="login">
      <input class="icon email" type="email"
             v-model.trim="email"
             placeholder="E-mail"
             required>

      <input class="icon password" type="password"
             v-model.trim="password"
             placeholder="Password"
             required>

      <div class="errorMsg" v-if="getErrMsg">{{ getErrMsg }}</div>
      <button type="submit" class="button-blue" v-bind:disabled="!password|| !email">login</button>
    </form>
  </div>
</template>

<style>
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 36rem;
  margin: 0 auto;
  padding: 4rem;
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.3rem;
}

.form-header img {
  padding-right: 1rem;
}

.form-header p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.login-form input {
  border: none;
  min-width: 26.7rem;
  height: 2.3rem;
  margin-bottom: 3rem;
  padding: 0 3rem;
  font-size: 1.3rem;
  border-bottom: 1px solid darkgray;
}

.login-form input:last-child {
  margin-bottom: 1rem;
}

input:focus {
  outline: 0;
  border-color: var(--blue-light);
}

.icon {
  background-size: 1.3rem;
}

.email {
  background: url("../../assets/img/email-icon.png") no-repeat 0.3rem 50%;
}

.password {
  background: url("../../assets/img/password-icon.png") no-repeat 0.3rem 50%;
}

.login-form button {
  width: 20rem;
  display: block;
  margin: 0 auto;
}

.errorMsg {
  text-align: center;
  color: var(--red);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
</style>