@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    --white: #ffffff;

    --black: #000000;

    --blue-light: #33B2FF;
    --blue-dark: #028de1;
    --blue-soft: #E2F4F7;

    --grey-dark: #A9A9A9FF;

    --red:#FF0000FF;

    --header-height: 6rem;
    --footer-height: 6rem;
    --fullscreen-height: calc(100vh - var(--header-height) - var(--footer-height));

    --border-radius: 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html {
    font-size: 15px;
}

body {
    min-height: 100vh;
    color: var(--black);
    background: var(--white);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

@media (max-width: 1600px) {
    html {
        font-size: 12px;
    }
}