button {
    width: 9.3rem;
    height: 3.3rem;
    margin: 0 0.5rem;
    border: 2px solid var(--blue-light);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

button:hover {
    border-color: var(--blue-dark);
}

.button-blue {
    background-color: var(--blue-light);
    color: var(--white);
}

.button-white {
    background-color: var(--white);
    color: var(--blue-light);
}

button:disabled {
    cursor: not-allowed;
    background-color: var(--grey-dark);
    border-color: var(--grey-dark);
}
